<p-carousel *ngIf="options.images"
  [value]="options.images"
  [numVisible]="options.numVisible"
  [numScroll]="options.numScroll"
  [responsiveOptions]="options.responsiveOptions"
>
  <ng-template let-product pTemplate="item">
    <div>
      <div>
        <div class="mb-3" *ngFor="let i of options.images">
          <img [src]="i.url" [alt]="i.alt" />
        </div>
        <div>
          <h4 class="mb-1" *ngIf="options.title">{{ options.title }}</h4>
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>