.container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  background-color: #242424;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
}

button {
  width: 100%;
  font-weight: bold;
  background-color: #96099b;
  color: #fff;
  margin-bottom: 5px;
}

button:hover {
  background-color: var(--purple-800);
  color: #8d8a8a;
}

label {
  font-weight: bold;
}

#email {
  width: 15.5rem;
}
