<div class="container">
  <div class="left-section">
    <h2>Sobre</h2>
    <h3>Nome da Radio/Podcast</h3>
    <img src="https://th.bing.com/th/id/OIP.nRa_XmUQH0-i_xdxraouOAHaHa?rs=1&pid=ImgDetMain" alt="" /> 
  </div>
  <div class="right-section">
    <div class="pais">
      <p>Descrição da Rádio/Podcast</p>
      <div>
        <p>Disponível em: /p>
          <img src="" alt="" />Bandeira País
      </div>
    </div>
      <p>Nome Pais</p>
    <div class="feedback">
      <button class="btn-feedback">Feedback</button>
      <ng-icon name="aspectsLikeFilled"></ng-icon>
      <p>Atributo Like/Feedback/Gosteis/Curtidas</p>
    </div>
  </div>
</div>
