<div class="card flex justify-content-center">
  <p-card
    [header]="title"
    [subheader]="subTitle"
    [style]="{ width: width ?? '100%' }"
  >
    <ng-template pTemplate="header">
      <img [src]="image" />
    </ng-template>
    <ng-template pTemplate="main">
      <div class="flex align-items-center py-2 gap-2" *ngIf="liked">
        <i class="pi pi-verified color-primary"></i>
        <h3>Você curtiu esse conteúdo</h3>
      </div>
      <div class="pais">
        <div class="flex" style="font-size: 1rem">
          <i [className]="icon"></i>
          <h3 class="mx-2" style="text-transform: uppercase">{{ pais }}</h3>
        </div>
      </div>
      <p>
        {{ description }}
      </p>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="flex gap-3 mt-1">
        <p-button
          [label]="primaryButtonLabel"
          [icon]="primaryButtonIcon"
          severity="secondary"
          class="w-full"
          [disabled]="liked"
          styleClass="w-full"
          (onClick)="onPrimaryButtonClicked()"
        />
        <p-button
          *ngIf="secondaryButtonLabel"
          [label]="secondaryButtonLabel"
          [icon]="secondaryButtonIcon"
          class="w-full"
          styleClass="w-full"
          [disabled]="!liked"
          (onClick)="onSecondaryButtonClicked()"
        />
      </div>
    </ng-template>
  </p-card>
</div>
