<div class="text-white p-5" style="background-color: var(--purple-800)">
  <div class="grid">
    <div class="col">
      <h3>Sobre Nós</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis, ut
        dolor laborum eum nihil nostrum necessitatibus tempore error voluptate
        accusantium.
      </p>
    </div>
    <div class="col">
      <h3>GitHub</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis, ut
        dolor laborum eum nihil nostrum necessitatibus tempore error voluptate
        accusantium.
      </p>
    </div>
    <div class="col">
      <h3>Contato</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis, ut
        dolor laborum eum nihil nostrum necessitatibus tempore error voluptate
        accusantium.
      </p>
    </div>
  </div>
</div>
