<div style="background-color: var(--purple-800)">
  <div class="grid text-white p-5">
    <div class="col-12 md:col-4 flex flex-column align-items-center gap-2 my-2">
      <h3>Sobre Nós</h3>
      <p class="text-center line-height-2">
        Descubra sua sintonia perfeita com Harmonic. A plataforma que simplifica
        a busca por rádios e podcasts. Encontre sua vibe em um só lugar!
      </p>
    </div>
    <div class="col-12 md:col-4 flex flex-column align-items-center gap-2 my-2">
      <h3>GitHub</h3>
      <div class="flex flex-column text-center gap-2">
        <a
          href="https://github.com/VictorSantos09/Harmonic"
          target="_blank"
          class="no-underline hover:underline"
          style="color: white"
          >Harmonic</a
        >
        <a
          href="https://github.com/VictorSantos09/Harmonic-FrontEnd"
          target="_blank"
          class="no-underline hover:underline"
          style="color: white"
          >Harmonic Front-End</a
        >
      </div>
    </div>
    <div class="col-12 md:col-4 flex flex-column align-items-center gap-2 my-2">
      <h3>Contato</h3>
      <div class="flex flex-column text-center gap-2">
        <p>(99) 9 9999-9999</p>
        <p>comercial&commat;harmonic.com</p>
      </div>
    </div>
  </div>
</div>
