HTML
<div class="container">
  <div class="user-info">
    <h2>Informações do Usuário</h2>
    <div class="user">
      <p>
        <strong> Usuário: </strong>
      </p>
      <p>
        <strong>
          <!--{{ user.name }}-->
        </strong>
      </p>
    </div>
    <div class="email">
      <p>
        <strong> E-mail: </strong>
      </p>
      <p>
        <strong>
          <!--{{ user.email }}-->
        </strong>
      </p>
    </div>
    <div class="password">
      <p>
        <strong> Senha: </strong>
      </p>
      <p>
        <strong>
          <!--{{ user.password }}-->
        </strong>
      </p>
    </div>
  </div>
  <div class="form-container">
    <form
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
      novalidate
      [ngClass]="'p-col-12 p-md-6 p-lg-4'"
    >
      <div [ngClass]="'flex align-items-center flex-column'">
        <h1>Cadastro</h1>
        <div class="field" [ngClass]="'flex flex-column'">
          <p-floatLabel>
            <input id="user" type="user" pInputText formControlName="user" />
            <label for="user">User</label>
          </p-floatLabel>
        </div>
        <div class="field" [ngClass]="'flex flex-column'">
          <p-floatLabel>
            <input id="email" type="email" pInputText formControlName="email" />
            <label for="email">Email</label>
          </p-floatLabel>
          <small
            class="p-error block"
            *ngIf="
              registerForm.get('email')?.invalid &&
              registerForm.get('email')?.dirty
            "
            >Email válido é obrigatório</small
          >

          <div class="field">
            <p-floatLabel>
              <p-password
                id="password"
                [feedback]="false"
                [toggleMask]="true"
                formControlName="password"
              ></p-password>
              <label for="password">Senha</label>
            </p-floatLabel>
            <small
              class="p-error block"
              *ngIf="
                registerForm.get('password')?.invalid &&
                registerForm.get('password')?.dirty
              "
              >Senha é obrigatória</small
            >
          </div>
        </div>
        <button
          pButton
          type="submit"
          label="Cadastrar"
          [disabled]="registerForm.invalid"
        ></button>
      </div>
    </form>
  </div>
</div>
