<!-- HTML -->
<div class="container">
  <div class="user-info">
    <h2>Informações do Usuário</h2>
    <div class="user">
      <p>
        <strong> Usuário: </strong>
      </p>
      <p>
        <strong>
          <!--{{ user.name }}-->
        </strong>
      </p>
    </div>
    <div class="email">
      <p>
        <strong> E-mail: </strong>
      </p>
      <p>
        <strong>
          <!--{{ user.email }}-->
        </strong>
      </p>
    </div>
    <div class="password">
      <p>
        <strong> Senha: </strong>
      </p>
      <p>
        <strong>
          <!--{{ user.password }}-->
        </strong>
      </p>
    </div>
  </div>
  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="user">User</label>
        <input
          type="text"
          id="user"
          formControlName="user"
          placeholder="User"
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="USER DO USUARIO"
        />
        <div *ngIf="registerForm.controls['email'].errors?.['emailDomain']">
          O e-mail deve ser do domínio gmail.com, hotmail.com ou outlook.com.
        </div>
      </div>
      <div class="form-group">
        <label for="password">Senha</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="Senha"
        />
      </div>
      <button type="submit" [disabled]="!form.valid">SALVAR</button>
    </form>
  </div>
</div>
