/* CSS */
.container {
  display: flex;
  width: 550px;
  justify-content: space-between;
  background-color: #242424;
}

.form-container {
  color: #fff;
  padding: 20px;
  width: 50%;
}

.user-info {
  width: 40%;
  color: #fff;
  padding: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 5px;
  border: solid;
  border-color: #a5a8ab;
  background-color: #4f4c4c;
}

button {
  background-color: #933dc9;
  padding: 10px 20px;
  color: #fff;
  border-color: #bcc1c7;
  cursor: pointer;
}
