@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-footer {
  margin-top: auto;
}

a {
  text-decoration: none;
}

app-page-login {
  display: flex;
  justify-content: center;
}
app-page-register {
  display: flex;
  justify-content: center;
}
app-page-login-primeng {
  display: flex;
  justify-content: center;
}

li.p-carousel-indicator.p-highlight > button {
  background-color: var(--purple-400);
}

.color-primary{
  color: var(--purple-400);
}