<p-toast></p-toast>

<div class="grid m-3">
  <div class="col" *ngFor="let d of conteudos">
    <app-card
      [title]="d.titulo"
      [subTitle]="d.tipo"
      [description]="d.descricao"
      [image]="d.imagem"
      [icon]="d.icon"
      [pais]="d.pais"
      [width]="'300px'"
      [applySplitter]="true"
      primaryButtonLabel="Visualizar"
      primaryButtonSeverity="'primary'"
      primaryButtonIcon="pi pi-eye"
      (onPrimaryButtonClick)="onVisualizar(d.id)"
    ></app-card>
  </div>
</div>
