<div class="flex justify-content-center">
  <div class="align-items-center text-center">
    <h2>Suas músicas Curtidas</h2>
    <h3 class="align-items-center text-center">
      Confira todas as músicas curtidas por você
    </h3>
  </div>
</div>
<div class="justify-content-center grid">
  <div
    *ngFor="let item of conteudosCurtidos"
    class="bg-gray-800 m-3 pb-3"
    [id]="item.id"
  >
    <img
      class="border-round-lg"
      width="300px"
      height="300px"
      [src]="item.imagem"
    />
    <div class="p-3" style="width: 300px;">
      <h2 style="width: 100%;">{{ item.titulo }}</h2>
      <h3>{{ item.tipoConteudo }}</h3>
      <div class="flex gap-2">
        <i [className]="item.icon"></i>
        <b class="uppercase">{{ item.pais }}</b>
      </div>
      <div class="mt-3">
        <p-button
          label="Visualizar"
          icon="pi pi-eye"
          severity="primary"
          (onClick)="onAvatarClick(item.id)"
        />
      </div>
    </div>
  </div>
</div>
