<div class="card">
  <p-toast />
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <p-button
        pRipple
        severity="success"
        label="Novo"
        icon="pi pi-plus"
        class="mr-2"
        (click)="openNew()"
      />
      <p-button
        pRipple
        severity="danger"
        label="Deletar"
        icon="pi pi-trash"
        (click)="deleteSelectedItems()"
        [disabled]="!selectedItems || !selectedItems.length"
      />
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    styleClass="p-datatable-striped"
    responsiveLayout="stack"
    dataKey="id"
    scrollHeight="400px"
    currentPageReportTemplate="Mostrando {first} para {last} de {totalRecords} registros"
    editMode="row"
    [value]="items"
    [columns]="columns"
    [rows]="options.rowsNumber ?? 10"
    [alwaysShowPaginator]="options.usePaginator ?? true"
    [paginator]="options.usePaginator ?? true"
    [autoLayout]="true"
    [scrollable]="true"
    [rowHover]="true"
    [resizableColumns]="true"
    [reorderableColumns]="true"
    [globalFilterFields]="globalFilterFields"
    [tableStyle]="{ 'min-width': '10rem' }"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 20]"
    [(selection)]="selectedItems"
  >
    <!--Filter-->
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h2 class="m-0">{{ options.title }}</h2>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal(getEventValue($event), 'contains')"
            placeholder="Buscar"
          />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th class="flex justify-content-center" style="width: 4rem">
          <p-tableHeaderCheckbox />
        </th>

        <th
          *ngFor="let c of columns"
          [pSortableColumn]="c.sortableColumn ? c.name : undefined"
          style="min-width: 15rem"
        >
          {{ c.title }}
          <p-sortIcon *ngIf="c.sortableColumn" [field]="c.name" />
        </th>

        <th>Ações</th>
      </tr>
    </ng-template>

    <!--BODY-->
    <ng-template
      pTemplate="body"
      let-rowData
      let-editing="editing"
      let-ri="rowIndex"
      let-columns="columns"
    >
      <tr [pEditableRow]="rowData">
        <td>
          <p-tableCheckbox [value]="rowData" />
        </td>

        <!--ROWS-->
        <td *ngFor="let col of columns">
          <p-cellEditor>
            <!--INPUT-->
            <ng-template pTemplate="input" *ngIf="col.fieldConfig.canEdit">
              <!--INPUT-TEXT-->
              <input
                *ngIf="fieldHelper.isInputTextType(col.fieldConfig)"
                pInputText
                [type]="col.fieldConfig.type"
                [required]="col.fieldConfig.required"
                [readOnly]="col.fieldConfig.readonly"
                [disabled]="col.fieldConfig.disabled ?? false"
                [placeholder]="col.fieldConfig.placeholder"
                [name]="col.fieldConfig.name"
                [(ngModel)]="rowData[col.name]"
              />

              <!--TEXT AREA-->
              <textarea
                *ngIf="fieldHelper.isTextAreaType(col.fieldConfig)"
                id="float-input"
                rows="5"
                cols="30"
                pInputTextarea
                autoResize="true"
                [(ngModel)]="rowData[col.name]"
              ></textarea>

              <p-dropdown
                *ngIf="fieldHelper.isDropdownType(col.fieldConfig)"
                [(ngModel)]="rowData[col.name]"
                [options]="col.fieldConfig.options"
                [optionLabel]="col.fieldConfig.optionLabel"
                [placeholder]="col.fieldConfig.placeholder"
                showClear="true"
                editable="true"
              />
            </ng-template>

            <!--OUTPUT-->
            <ng-template pTemplate="output">
              {{ rowData.name }}
              <img
                *ngIf="col.isImage"
                [src]="col.image.url"
                [alt]="col.image.alt"
                [width]="col.image.width"
                [height]="col.image.height"
              />

              <span *ngIf="!col.isImage && !col.isDate">
                {{ rowData[col.name] || "N/A" }}
              </span>

              <span *ngIf="!col.isImage && col.isDate">
                {{ rowData[col.name] | date : "dd/MM/yyyy" || "N/A" }}
              </span>
            </ng-template>
          </p-cellEditor>
        </td>

        <!--Edit Button-->
        <td>
          <div class="flex align-items-center justify-content-center gap-2">
            <button
              *ngIf="!editing"
              pButton
              pRipple
              type="button"
              pInitEditableRow
              icon="pi pi-pencil"
              (click)="onRowEditInit(rowData)"
              class="p-button-rounded p-button-text"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pSaveEditableRow
              icon="pi pi-check"
              (click)="onRowEditSave(rowData)"
              class="p-button-rounded p-button-text p-button-success mr-2"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pCancelEditableRow
              icon="pi pi-times"
              (click)="onRowEditCancel(rowData, ri)"
              class="p-button-rounded p-button-text p-button-danger"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        No total há {{ items ? items.length : 0 }} itens.
      </div>
    </ng-template>
  </p-table>

  <!--FORM-->
  <p-dialog
    [(visible)]="itemDialog"
    [style]="{ width: (formOptions?.width ?? 1000) + 'px' }"
    [header]="formOptions?.title"
    [modal]="true"
    styleClass="p-fluid"
  >
    <!--FIELDS-->
    <ng-template pTemplate="content">
      <div class="p-2 m-2" *ngFor="let f of formOptions?.formFields">
        <!--DROPDOWN-->
        <div
          class="field"
          *ngIf="f.options?.length && fieldHelper.isDropdownType(f)"
        >
          <p-floatLabel>
            <p-dropdown
              [options]="f.options"
              [(ngModel)]="f.value"
              [optionLabel]="f.optionLabel"
              [placeholder]="f.placeholder"
              showClear="true"
              editable="true"
            />
            <label for="float-label">{{ f.label }}</label>
          </p-floatLabel>
        </div>

        <div class="field">
          <!---INPUT TEXT-->
          <p-floatLabel *ngIf="fieldHelper.isInputTextType(f)">
            <input
              pInputText
              [(ngModel)]="f.value"
              [required]="f.required"
              [readOnly]="f.readonly"
              [disabled]="f.disabled ?? false"
              [placeholder]="f.placeholder"
              [type]="f.type"
              [name]="f.name"
            />
            <label [htmlFor]="f.name">{{ f.label }}</label>
          </p-floatLabel>
        </div>

        <div class="field">
          <!--TEXT AREA-->
          <p-floatLabel *ngIf="fieldHelper.isTextAreaType(f)">
            <textarea
              id="float-input"
              rows="5"
              cols="30"
              pInputTextarea
              autoResize="true"
              [(ngModel)]="f.value"
            ></textarea>
            <label for="float-input">{{ f.label }}</label>
          </p-floatLabel>
        </div>
      </div>
    </ng-template>

    <!--Cancel and save Buttons-->
    <ng-template pTemplate="footer">
      <p-button
        pRipple
        label="Cancelar"
        icon="pi pi-times"
        [text]="true"
        (click)="hideDialog()"
      />
      <p-button
        pRipple
        label="Salvar"
        icon="pi pi-check"
        [text]="true"
        (click)="save()"
      />
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{ width: '450px' }" />
</div>
